name: Streamlit app

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  check-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          args: 'check'
      - uses: astral-sh/ruff-action@v3
        with:
          args: 'format --check'
          
  streamlit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - run: |
          # https://github.com/python-poetry/poetry/issues/1214
          pip install --requirement <(uv export --dev --format requirements.txt)
      - uses: streamlit/streamlit-app-action@v0.0.3
        with:
          app-path: streamlit_app.py
          skip-smoke: 'false'
          
